.component-template-player{
    .scale-helper{
        .work-space {
            height: 100%;
            margin: auto;
            position: relative;
            overflow: hidden;
        }
    }
}
