#library-page{
    .page{
        .video-list{
            height: auto !important;
            margin-bottom: 0px !important;
            padding-top: 0px !important;
            .card{
                height: auto !important;
                margin-bottom: 15px;
            }
        }
    }
}
