$left_menu_width: 250px;
$skin_color: #123e59;
$header_color: $skin_color;
$dropdown_tab_active: lighten($header_color, 30);
$leftmenu_color: #ffffff;
$logo_bgcolor: transparent;
$submenu_color: #f3f3f3;
$menu_active: lighten($skin_color, 5);
$menu_color: #536973;
$active_icon: #fff !important;
$menu_hover_color: #0a3c5f;
$menu_active_color: #fff;
$divider-leftheader: $skin_color;
$header_colors: #fff;
$dropdown_background_color: #fff;
$nav_tabs_color: #000;
$nav_tab_color: #fff;
$footer_color: #fff;
$toggle_color: #fff;
$zoom_color: #fff;
$right_side_user: #fff;
$horizontal_hover: #fff;
$bell-color: #123e59;
$bell-active: #fff;
