$left_menu_width: 250px;
$skin_color: #fff;
$header_color: $skin_color;
$dropdown_tab_active: lighten($header_color, 10);
$leftmenu_color: #fff;
$logo_bgcolor: transparent;
$submenu_color: #F8F7F6;
$menu_active: #e6e6e6;
$menu_color: #3e6174;
$active_icon: #3e6174 !important;
$menu_hover_color: #5e7b85;
$menu_active_color: #3e6174;
$divider-leftheader: $skin_color;
$header_colors: #3c4252;
$nav_tabs_color: #000;
$dropdown_background_color: #EEEEEE;
$nav_tab_color: #000;
$footer_color: #000;
$toggle_color: #000;
$zoom_color: #000;
$right_side_user: #000;
$horizontal_hover: #0a3c5f;
$bell-color: #fff;
$bell-active: #edede
