$left_menu_width: 250px;
$skin_color: #1c697b;
$header_color: $skin_color;
$dropdown_tab_active: lighten($header_color, 20);
$leftmenu_color: #fff;
$logo_bgcolor: transparent;
$submenu_color: #eeeeee;
$menu_active: #1c697b;
$active_icon: #fff !important;
$menu_color: #222222;
$menu_hover_color: #00667f;
$menu_active_color: #fff;
$divider-leftheader: $skin_color;
$header_colors: #000;
$nav_tabs_color: #000;
$dropdown_background_color: #fff;
$footer_color: #ccc;
$nav_tab_color: #fff;
$btn_group_color: #fff;
$toggle_color: #fff;
$zoom_color: #fff;
$right_side_user: #fff;
$horizontal_hover: #fff;
$bell-color: #1c697b;
$bell-active: #fff;
