$left_menu_width: 250px;
$skin_color: #ccc;
$header_color: $skin_color;
$dropdown_tab_active: lighten($header_color, 30);
$leftmenu_color: #ffffff;
$logo_bgcolor: transparent;
$submenu_color: #f3f3f3;
$menu_active: lighten($skin_color, 5);
$menu_color: #536973;
$active_icon: #0a3c5f !important;
$menu_hover_color: #0a3c5f;
$menu_active_color: #0a3c5f;
$divider-leftheader: $skin_color;
$header_colors: #3c4252;
$nav_tabs_color: #000;
$dropdown_background_color: #EEEEEE;
$footer_color: #000;
$nav_tab_color: #000;
$toggle_color: #000;
$zoom_color: #000;
$right_side_user: #000;
$horizontal_hover: #0a3c5f;
$bell-color: #ccc;
$bell-active: #ededed;
